.featured-article {
	padding: 0 0 50px 0;

	article.featured {
		display: flex;

		@include tablet {
			flex-wrap: wrap;
		}

		.image {
			flex-basis: 100%;
			padding: 20px;

			img {
				width: 100%;
				border-radius: 8px;
			}

			@include tablet {
				margin-bottom: 20px;
			}
		}

		.content {
			margin-left: 30px;
			flex-basis: 100%;
			align-self: center;

			@include tablet {
				text-align: center;
			}

			h2 {
				margin-bottom: 20px;

				a {
					font-size: 30px;
					color: $black;
					display: inline-block;

					&:hover {
						color: $primary-color;
					}
				}
			}

			p {
				margin-bottom: 25px;
			}
		}
	}
}

.post-sm {
	margin-bottom: 40px;

	.post-thumb {
		margin-bottom: 15px;
		overflow: hidden;

		img {
			transition: .3s ease;
		}

	}

	.post-title {
		h3 {
			a {
				color: $dark;
				font-size: 20px;

				&:hover {
					color: $primary-color;
				}
			}
		}

		margin-bottom: 15px;
	}

	&:hover {
		.post-thumb {
			img {
				transform: scale(1.3);
			}
		}
	}
}

.blog-single {
	margin: 50px 0px 25px 0px;
	.single-post {
		padding-bottom: 70px;

		.post-body {
			.feature-image {
				display: block;
				position: relative;
				width: 100%;
				height: 40vh;
				max-height: 50%;
				margin-bottom: 30px;

				img {
					// width: 100%;
				}
			}

			p {
				margin-bottom: 20px;
			}

			.quote {
				padding: 30px 0;
				width: 80%;
				margin: 0 auto;

				@include tablet {
					width: 80%;
				}

				blockquote {
					color: $black;
					padding: 10px 0 10px 30px;
					text-align: left;
					font-size: 30px;
					line-height: 40px;
					border-left: 6px solid #666666;
				}
			}

			.post-image {
				width: 60%;
				margin: 0 auto;
				margin-bottom: 20px;
			}
		}
	}

	.about-author {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		
		h2 {
			padding-bottom: 15px;
			border-bottom: 1px solid $border-color;
			margin-bottom: 30px;
			font-size: 25px;

			@include mobile {
				text-align: center;
			}
		}

		.media {
			@include mobile {
				flex-wrap: wrap;
			}

			.image {
				@include mobile {
					flex-grow: 1;
					width: 100%;
					display: flex;
					justify-content: center;
				}

				img {
					width: 85px;
					height: 85px;
					border-radius: 100%;
				}
			}

			.media-body {
				@include mobile {
					flex-grow: 1;
					width: 100%;
					text-align: center;
					margin-left: 0;
					margin-top: 20px;
				}

				margin-left: 40px;

				p {
					margin-bottom: 15px;
				}
			}
		}
	}
}

.related-articles {
	.title {
		margin-bottom: 20px;

		h2 {
			font-size: 30px;
		}
	}
}

// Pagination
.pagination-nav {
	display: flex;
	justify-content: center;

	ul.pagination {
		padding-top: 30px;

		li {
			margin-right: 10px;

			a {
				border-radius: 3px;
				padding: 0;
				height: 50px;
				width: 50px;
				line-height: 50px;
				text-align: center;
				border-color: transparent;
				box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
				color: $text-color;
				transition: .3s ease-in;

				&:hover {
					background-color: $primary-color;
					color: $light;
					border-color: transparent;
				}
			}
		}

		.active {
			a {
				background-color: $primary-color;
				color: $light;
				border-color: transparent;
			}
		}
	}
}

.comments-area {
	background: transparent;
	// border: 1px solid #eee;
	border-top: 1px solid #eee;
	padding: 25px 0;
	margin-top: 25px;

	@media(max-width: 414px) {
			padding: 25px 8px;
	}

	h4 {
			// text-align: center;
			margin-bottom: 15px;
			// color: $title-color;
			font-size: 18px;
	}

	h5 {
			font-size: 16px;
			margin-bottom: 0px;
	}

	a {
			// color: $title-color;
	}

	.comment-list {
			padding-bottom: 48px;

			&:last-child {
					padding-bottom: 0px;
			}

			&.left-padding {
					padding-left: 25px;
			}

			@media(max-width:413px) {
					.single-comment {
							h5 {
									font-size: 12px;
							}

							.date {
									font-size: 11px;
							}

							.comment {
									font-size: 15px;
							}
					}
			}
	}

	.thumb {
			margin-right: 20px;

			img {
					border-radius: 50%;
			}
	}

	.author {
		font-size: 14px;
	}

	.date {
			font-size: 14px;
			color: #999999;
			margin-bottom: 0;
			margin-left: 20px;
	}

	.comment {
			margin-bottom: 10px;
			color: #777777;
			font-size: 15px;
	}

	.btn-reply {
			background-color: transparent;
			color: #888888;
			// border:1px solid #eee;
			padding: 5px 18px;
			font-size: 14px;
			display: block;
			font-weight: 400;
			//  @include transform_time(.5s);
			// &:hover {
			//     background-// color: $title-color;
			//     color: #fff;
			//     font-weight: 700;
			// }
	}
}

.comment-form {
	// background:#fafaff;
	// text-align: center;
	border-top: 1px solid #eee;
	padding-top: 20px;
	margin-top: 25px;
	margin-bottom: 20px;

	.form-group {
			margin-bottom: 30px;
	}

	h4 {
			// text-align: center;
			margin-bottom: 40px;
			font-size: 18px;
			line-height: 22px;
			// color: $title-color;
	}

	.name {
			padding-left: 0px;

			@media(max-width: 767px) {
					padding-right: 0px;
					margin-bottom: 1rem;
			}
	}

	.email {
			padding-right: 0px;

			@media(max-width: 991px) {
					padding-left: 0px;
			}
	}

	.form-control {
			border: 1px solid #f0e9ff;
			border-radius: 5px;
			height: 48px;
			padding-left: 18px;
			font-size: 13px;
			background: transparent;

			&:focus {
					outline: 0;
					box-shadow: none;
			}

			&::placeholder {
					font-weight: 300;
					color: #999999;
			}

			&::placeholder {
					color: #777777;
			}
	}

	textarea {
			padding-top: 18px;
			border-radius: 12px;
			height: 100% !important;
	}

	::-webkit-input-placeholder {
			/* Chrome/Opera/Safari */
			font-size: 13px;
			color: #777;
	}

	::-moz-placeholder {
			/* Firefox 19+ */
			font-size: 13px;
			color: #777;
	}

	:-ms-input-placeholder {
			/* IE 10+ */
			font-size: 13px;
			color: #777;
	}

	:-moz-placeholder {
			/* Firefox 18- */
			font-size: 13px;
			color: #777;
	}
}
